@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
.wand {
  background-color: azure;
  text-align: center;
  justify-content: center;
  transition: transform 0.2s;
  color: black;
  font-family: "Nova Square", cursive;
}
.wand:hover {
  transform: scale(1.5);
}

.bg {
  background: url(../images/treasure.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hunt {
  display: flex;
  flex-direction: column;
}

:root {
  cursor: url("../images/cursor.png"), auto;
  --X: 40vh;
  --Y: 45vh;
}
:root::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  background: radial-gradient(
    circle 10vmax at var(--X) var(--Y),
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.98) 100%
  );
  pointer-events: none;
}
.goblet {
  max-width: 45%;
  display: flex;
  transition: transform 0.2s;
  margin-right: 35px;
  padding-right: 25px;
}
.cup,
.sorted,
.snitch,
.gem,
.coat {
  margin: 20px 45px;
  max-width: 40%;

  display: flex;
  transition: transform 0.2s;
}
.token,
.second {
  max-width: 30%;
  height: auto;
  height: auto;
  align-items: center;
  margin: 10px 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.second {
  padding-left: 450px;
  padding-top: 0% !important;
  margin: 0%;
}
.goblet:hover,
.cup:hover,
.sorted:hover,
.snitch:hover,
.gem:hover,
.coat:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.player {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 25%;
  height: max-content;
}
.play,
.pause,
.volup,
.voldown,
.goback {
  background-color: black;
  box-shadow: rgb(224, 224, 40);
  color: gold;
  font-size: medium;
  border: black;
  width: 15%;
  padding: 10px 10px;
  margin: 2px 4px;
  transition: transform 0.5s;
}
.play:hover,
.pause:hover,
.volup:hover,
.voldown:hover,
.goback:hover {
  transform: scale(1);
  background-color: rgb(206, 210, 233);
  color: black;
}
.play {
  font-size: small;
  padding: 11px 10px;
}
.volup {
  padding: 10px 10px 10px 5px;
}
.voldown {
  font-size: large;
  padding: 9px 10px;
}
.fa-home {
  text-decoration: none;
  color: gold;
}

@media only screen and (max-width: 600px) {
  .hunt {
    display: flex;
    flex-direction: row;
  }
  .second {
    display: flex;
    flex-direction: column;

    max-width: auto;
    padding: 0%;
    margin-top: 300px;
  }

  .token {
    display: flex;
    flex-direction: column;
    max-width: 30%;
  }

  .player {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  :root::before {
    display: none;
  }
}
