* {
  margin: 0%;
  padding: 0%;
}
.bg {
  background-image: url(../images/way.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.h1 span {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  justify-content: center;
  width: 50px;
  padding: 10px 50px;
  color: brown;
}
.player {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 25%;
  height: max-content;
}
.play,
.pause,
.volup,
.voldown,
.goback {
  background-color: black;
  box-shadow: rgb(224, 224, 40);
  color: gold;
  font-size: medium;

  border: black;
  width: 15%;
  padding: 10px 10px;
  margin: 2px 4px;
  transition: transform 0.5s;
}
.play:hover,
.pause:hover,
.volup:hover,
.voldown:hover,
.goback:hover {
  transform: scale(1);
  background-color: rgb(206, 210, 233);
  color: black;
}
.play {
  font-size: small;
  padding: 11px 10px;
}
.volup {
  padding: 10px 10px 10px 5px;
}
.voldown {
  font-size: large;
  padding: 9px 10px;
}
.fa-home {
  text-decoration: none;
  color: rgb(253, 215, 0);
}

@media only screen and (max-width: 600px) {
  #result {
    padding: 500px 50px;
  }

  .play,
  .pause,
  .volup,
  .voldown {
    padding: 15px 20px;
  }
  .button {
    width: 100px;
    padding: 15px 0px;
    margin: 4px 2px;
    font-size: medium;
    border-radius: 4px;
    

  }
  .player {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}
