*{
    margin: 0%;
    padding: 0%;
}
.bg {
    font-family: Open Sans;
    background-image: url(./images/dine.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    
}

h1 {
    text-align: center;
}

#title {
    text-decoration: none;
}
.hat{
    display: flex;
    transition: transform .2s;
    align-items: center;
    justify-content: center;
    margin:auto; 
    padding: 10px 0px;


}
.hat:hover{
    transform: scale(0.9);
    
}


#quiz {
    text-indent: 20px;
    display:none;
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: black transparent;
    
    border-radius:1px;
    color: #FFFFFF;
    
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}